[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = f686492
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = 3675de3
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = 11154af
[submodule "external/SDL_mixer"]
	path = external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = main
[submodule "external/SDL_net"]
	path = external/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
	branch = main